<nav class="navbar navbar-inverse" >
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">
                <span class="glyphicon glyphicon-tree-deciduous"></span>
                SENCAB
            </a>
        </div>
        <ul class="nav navbar-nav">
            <li><a href="/chauffeur">HOME Chauffeur</a></li>
            <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="/chauffeur/courses">COURSE<span class="caret"></span></a>
                <ul class="dropdown-menu">
                    <li><a href="/chauffeur/courses/encours">En cours</a></li>
                    <li><a href="/chauffeur/courses/avenir">A venir</a></li>
                    <li><a href="/chauffeur/courses/terminees">Terminées</a></li>
                </ul>
            </li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
            <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#"><span class="glyphicon glyphicon-user">
             <%= chauffeur.login %><span class="caret"></span></a>
                <ul class="dropdown-menu">
                    <li><a href="/chauffeur/profil/infos">Mes informations</a></li>
                    <li><a href="/chauffeur/profil/modification">Modifier mes informations</a></li>
                    <li><a href="/chauffeur/profil/voiture">Ma voiture</a></li>
                    <li><a href="/logout"><span class="glyphicon glyphicon-log-out"></span>DECONNEXION</a></li>
                </ul>
            </li>
        </ul>
    </div>
</nav>